<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:dubbo="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <!--导入dao层配置spring配置文件-->
    <import resource="classpath*:spring/applicationContext-dao.xml"/>
    <context:component-scan base-package="cn.itheima.service.impl"/>

    <!--配置声明式事务管理-->
    <aop:config>
        <aop:pointcut id="pt1" expression="execution(*  cn.itheima.service.impl.*.*(..))"/>

    </aop:config>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:advice id="transactionInterceptor">
        <tx:attributes>
            <tx:method name="find*" read-only="true" propagation="SUPPORTS"/>
            <tx:method name="**"/>
        </tx:attributes>
    </tx:advice>

    <!--开启事务注解支持-->
    <tx:annotation-driven/>

   <!-- <dubbo:application name="provider"/>

    <dubbo:protocol name="dubbo" port="20882"/>

    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>

    <dubbo:annotation package="cn.itheima.service.impl"/>-->


</beans>